body{
    background-color: rgb(255, 255, 255);
}
.carousel-inner img{
    height: 623px;
    object-fit: cover;
}
.card-img-top{
    height: 200px;
    object-fit: scale-down;
}
.navbar-nav{
    font-size: x-large;
}
.col{
    align-items: center;
}
.row{
    align-items: center;
}
.align-items-start{
    align-items: center;
}
.info{
    height: 623px;
    background-color: rgb(70, 70, 70);
}
h3{
    color: aliceblue;
}
h2{
    color: rgb(219, 215, 215);
    font-size: large;
}